.layoutAdmin {
    height: 100vh;

    .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .layoutHeader {
        color: white;
    }

    .card-link {
        margin: 0.5em;
        min-width: 35%;
    }
}